<div class="col-sm-5 top-container">
  <div class="language">
    <div class="row">
      <div class="lang-container">
        <div>What is your preffered language?</div>
        <hr>
        <div class="select-container">
          <select (change)="changeOption($event.target.value)">
            <option *ngFor="let option of languageOptions" [value]="option">{{option}}</option>
          </select>
          <label *ngIf="isNotEnglish">only English is available</label>
        </div>
      </div>
    </div>
  </div>
  <div class="member">
    <div class="row">
      <div class="lang-container ebuy-member">
        <div>Are an Ebuy club member?</div>
        <div>
          <a class="dropdown-item" href="./clubregistration">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>