<div class="container">
  <div class="popup-container">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="panel-title">Warning!</div>
      </div>
      <div class="panel-body">
        <div>Are you sure you want to cancel?</div>
        <div>All address details will be deleted</div>
        <div class="buttons-container">
          <button type="button" class="btn btn-primary" (click)="cancel()">No, close this window</button>
          <button type="button" class="btn btn-primary" (click)="confirm()">Yes, delete all address details</button>
        </div>
      </div>
    </div>
  </div>
</div>
