<div class="container">
  <div class="administration-container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          System Administration
        </div>
      </div>
      <div class="panel-body">
        <div class="panel-info">
          <div class="panel-heading">
            <div class="panel-title">
              eBuy Pesonnel Users
            </div>
          </div>
          <div class="panel-body">
            <div class="table-container">
              <table>
                <tr>
                  <th *ngFor="let header of headers">{{header}}</th>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="buttons">
          <button type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> Add New User
          </button>
          <button type="button" class="btn btn-warning">
            Update User Details
          </button>
          <button type="button" class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-trash"></span> Remove User
          </button>
        </div>
      </div>

      <div class="panel-body bottom">
        <div class="panel-info">
          <div class="panel-heading">
            <div class="panel-title">
              DB Administration
            </div>
          </div>
          <div class="panel-body">
            <div class="buttons">
              <button type="button" class="btn">
                <i class="fa fa-upload" aria-hidden="true"></i>
                Backup
              </button>
              <button type="button" class="btn">
                Restore
              </button>
              <button type="button" class="btn">
                Cleanup
              </button>
              <button type="button" class="btn">
                Exit
              </button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
